@import "tailwindcss";
.fade-in-down {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

[id^="item-"] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}